<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkpoint annotation tool</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <form id="pathForm">
        <input type="text" id="pathInput" placeholder="Enter path">
        <button type="submit">Submit</button>
    </form>

    <div id="folderList"></div>

    <div class="owl-carousel owl-theme" id="imageCarousel"></div>
    <button id="annotateBtn">Annotate</button>

    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkpoint annotation tool</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div id="header">
        <a href="/logout">Logout</a>
        <form id="pathForm">
            <input type="text" id="pathInput" placeholder="Enter path">
            <button type="submit">Submit</button>
        </form>
        <button id="annotateBtn">Annotate</button>
    </div>

<div id="mainContent">
        <div id="folderList"></div>
        <div id="instructionText" class="instruction-container"></div> 
        <div class="carouselContainer">
            <div class="owl-carousel owl-theme" id="imageCarousel"></div>
        </div>
    </div>

    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>


